/* === ESTILOS GENERALES === */
nav {
    padding: 16px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0 0 6px #000;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.nav-list li a {
    color: var(--azure);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
}

.nav-list li a:hover {
    background: var(--azure);
    color: var(--white) !important;
}

.ENLACES a {
    color: var(--azure);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.menu-toggle {
    display: none;
}

/* Botón del menú (TresBarras) */
.menu-btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--azure);
    background: none;
    border: none;
    padding: 10px;
}

/* RESPONSIVE: Modo Móvil */
@media (max-width: 700px) {
    nav{
        padding: 0px 16px;
    }
    .menu-btn {
        display: block;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        display: block;
        padding-left: 10px;
        height: 105vh;
        background: var(--white);
        flex-direction: column;
        padding-top: 60px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
    }

    .nav-list.open {
        left: 0;
    }

    .nav-list li {
        margin: 15px 0;
    }

    .nav-list li a {
        color: var(--azure);
        font-size: 18px;
        display: block;
        padding: 15px;
        text-align: left;
        transition: 0.3s;
    }

    .nav-list li a:hover {
        background: var(--azure);
        color: var(--white);
    }
}
